/*---------------------------------------------------------------
	Variables
--------------------------------------------------------------- */

/* Colors
--------------------------------------------------------------- */

$blanc 				: #fff;
$noir				: #333;

$red 				: #EA4D47;
$blue				: #20354C;

/* Sizes
--------------------------------------------------------------- */

$x-small-width   	: 480px;
$small-width  		: 800px;
$medium-width   	: 1000px;
$large-width    	: 1200px;
$x-large-width    	: 1400px;
$full-width     	: 1600px;

/* Fonts
--------------------------------------------------------------- */

$primaryFont		: "sans-serif";

/* Anything else
--------------------------------------------------------------- */

$mobile-top-bar-height 	: 60px;