/***********************************************************
Layouts ***************************************************/

body {
  @apply
    font-sans
    antialiased
    text-primary
    leading-relaxed;
}

.container {
  @apply
    w-full
    mx-auto
    px-4;
}

@screen xl {
  .container {
    @apply px-0;
  }
}

/***********************************************************
Lazyload **************************************************/

.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}

a {
  @apply text-blue-500;

  &:hover,
  &:focus {
    @apply text-blue-600;
  }
}


/***********************************************************
SVG Icons **************************************************/

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}