/*---------------------------------------------------------------
    Navigation (Desktop)
--------------------------------------------------------------- */

// Primary 

.desktop-nav {
    display: none;

    @include bp1000 {
        clear: both;
        display: flex;
        flex-grow: 2;
        text-align: center;

        ul {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 30px 10px 0px 30px;

            @include bp1600 {
                padding: 0px 10px 0px 30px;
            }
        }

        li {
            display: inline-block;
            position: relative;

            &.menu-item-has-children > a:after {
                content: "\f107";
                position: absolute;
                bottom: 0px;
                left: 50%;
                margin-left: -8px;
                font: 1em/1 FontAwesome;
            }
        }

        .current-menu-item a,
        .current-menu-parent a {
            color: $blue;
            font-weight: 700;

            &:hover {
                color: darken($blue, 10%);
            }

        }

        a {
            display: inline-block;
            text-decoration: none;
            color: $blue;
            padding: 20px 9px;
            font-size: 1.4rem;
            @include font-extended ($weight:700 , $size:1.5rem, $colour:$blue);
            text-align: left;

            &:hover {
                color: lighten($blue, 15%);
            }

            span {
                display: block;
            }

        }

        .sub-menu {
            position: absolute;
            background: $blanc;
            top: 100%;
            left: 0;
            z-index: 100;
            opacity: 0;
            visibility: hidden;
            width: 490px;
            -webkit-transition: .3s;
            transition: .3s;
            padding: 0px;
            background: $blue;
            display: block;

            @include bp1200 {
                width: 550px;
            }

            li {
                width: 50%;
                float: left;

                &:nth-of-type(odd) {
                    border-right: 1px solid rgba(255,255,255,.1);
                }
            }

            .current-menu-item > a {
                color: $blanc;
                background: $noir;
            }

            a {
                display: block;
                border-bottom: 1px solid rgba(255,255,255,.1);
                @include font-extended ($weight:700 , $size:1.4rem, $colour:$blanc);

                &:hover {
                    color: lighten($blue,50%);
                    cursor: pointer;
                }
            }

            &:hover {
                display: block;
                opacity: 1;
                visibility: visible;
            }

        }

        a:hover + .sub-menu {
            display: block;
            opacity: 1;
            visibility: visible;
        }

    }

    @include bp1200 {

        li {
            margin-right: -4px;
        }

        a {
            font-size: 1.6rem;
            padding: 20px 25px;
        }

    }

    @include bp1600 {
        max-width: 900px;
    }

}


// Secondary

.desktop-top-bar #menu-secondary-menu {
    display: none;
}

.desktop-top-bar #menu-secondary-menu {

    @include bp800 {
        clear: both;
        display: block;
        text-align: left;
        overflow: hidden;

        li {
            display: inline;
            position: relative;

            &.menu-item-has-children > a:after {
                content: "\f107";
                position: absolute;
                bottom: -15px;
                left: 50%;
                margin-left: -8px;
                font: 1em/1 FontAwesome;
            }
        }

        .current-menu-item a,
        .current-menu-parent a {
            color: $blanc;
            font-weight: 700;
            position: relative;

            &:after {
                font: 1.5em/1 FontAwesome;
                content: "\f0d8";
                position: absolute;
                bottom: -8px;
                left: 41%;
                color: $blanc;
            }

            &:hover {
                color: $blanc;
            }

        }

        a {
            display: inline-block;
            text-decoration: none;
            color: $blanc;
            padding: 14px 20px;
            font-size: 1.6rem;
            font-family: pragmatica,sans-serif;
            font-weight: 400;
            font-style: normal;

            &:hover {
                color: darken($blanc,20%);
            }

        }
    }
}