/*---------------------------------------------------------------
    Buttons
--------------------------------------------------------------- */

button, .btn {
    display: inline-block;
    @include font-primary ($weight:700);
    text-transform: uppercase;
    padding: 10px 20px;
    color: $noir;
    text-decoration: none;
    transition: .3s;
    border: 2px solid;
    // clip-path: polygon(0 0, 88% 0, 100% 100%, 12% 100%);
    text-align: center;
    
    &:hover {
        background: $noir;
        color: $blanc;
        border-color: $blanc;
        text-decoration: none;
    }

    // Define the 1) button name, 2) text/border color & 3) background color
    $btnColors :        noir $blanc $blue,
                        blanc $blue $blanc,
                        bleu $blanc $blue;

    // Loop through colours above and create classes
    @each $colorOption in $btnColors {
        &--#{nth($colorOption, 1)} {
            color: nth($colorOption,2);
            border-color: nth($colorOption,2);
            background-color: nth($colorOption,3);
        }
    }
}