/*---------------------------------------------------------------
    Content Blocks
--------------------------------------------------------------- */

.content-block {
    overflow: auto;
    background: url("../images/dots.png") bottom right no-repeat;
    position: relative;

    .container {
        
        @include bp800 {
            display: flex;
            flex-direction: row;
        }

        &--reverse {
            @include bp800 {
                flex-direction: row-reverse;
            }
        }
    }

    &:after {
        content:"";
        display: block;
        width: 100%;
        background: lighten($red,35%);
        top: 0%;
        height: 40px;
        transform: translateY(0);
        height: 400px;
        z-index: -200;
        position: absolute;

        @include bp800 {
            width: 40%;
            background: lighten($red,35%);
            top: 50%;
            transform: translateY(-50%);
        }
    }
    
    &__body {
        @include bp1000 {
            display: flex;
            flex-wrap: wrap;
            float: left;
            width: 70%;
            padding: 0px 100px 0px 0px;
        }

        p {
            padding: 0px 0px 15px 0px;
        }
    }

    &__title-container {
        display: flex;
        align-items: center;
        float: left;
        padding: 0px 0px 25px 0px;
    }

    .title {
        float: left;
        width: 90%;
        padding: 0;
    }

    &__icon {
        width: 80px;
        height: 80px;
        border-radius: 80px;
        margin-right: 15px;
        display: flex;
        flex-basis: auto;
        justify-content: center;
        align-items: center;
        border: 2px solid #20354C;
        float: left;

        img {
            height: 55px;
        }
    }

    &__secondary {
        margin: 50px 0px 0px 0px;

        @include bp1000 {
            display: flex;
            flex-wrap: wrap;
            float: left;
            width: 30%;
            margin: 0;
        }
    }

    &__usps {
        list-style: none;
        display: flex;
        flex-wrap: wrap;

        @include bp800 {
            margin: 40px 0px 40px 0px;
        }

        li {
            display: flex;
            align-items: center;
            padding: 10px 0px;

            @include bp800 {
                padding: 20px 0px;
            }

            img {
                width: 60px;
                height: 60px;
                border-radius: 80px;
                margin-right: 15px;
                border: 2px solid #20354C;
                padding: 5px;
            }

            span {
                @include font-primary ($weight:700 , $size:1.8rem, $colour:$red);
                text-transform: uppercase;
            }
        }
    }
}