/*---------------------------------------------------------------
    Content Blocks
--------------------------------------------------------------- */

.content-block {
    
    &__body {
        @include bp1000 {
            display: flex;
            flex-wrap: wrap;
            float: left;
            width: 70%;
        }

        p {
            padding: 0px 0px 20px 0px;
        }
    }

    &__title-container {
        display: flex;
        float: left;
        padding: 0px 0px 10px 0px;
    }

    .title {
        float: left;
        width: 90%;
    }

    &__icon {
        width: 80px;
        height: 80px;
        border-radius: 80px;
        margin-right: 15px;
        display: flex;
        flex-basis: auto;
        justify-content: center;
        align-items: center;
        border: 2px solid #20354C;
        float: left;

        img {
            height: 55px;
        }
    }

    &__secondary {
        @include bp1000 {
            display: flex;
            flex-wrap: wrap;
            float: left;
            width: 30%;
        }
    }
}