/*---------------------------------------------------------------
    Header
--------------------------------------------------------------- */

.top-bar {
    background: $blanc;
}

header {
    background: #e1e1e1; 

    &:before {
        /* Pseudo element to push content down */
        content: '';
       	height: $mobile-top-bar-height;
        display: block;
        
        @include bp800 {
            display: none;
        }
    }
}

.desktop-top-bar {
    position: relative;
    display: flex;
    z-index: 3000;

    &__menu {
        background: $red;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        padding: 0px 0px 0px 10px;
    }

    &__phone-top-right {
        display: none;
    
        @include bp800 {
            display: inline-block;
            padding: 20px 20px 20px 70px;
            width: 450px;
            background: $blue;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%);
        }

        img {
            width: 47px;
            margin-right: 15px;
        }

        a {
            text-decoration: none;
        }

        a {
            color: $blanc;
            display: block;
            font-weight: 700;
        }

        .ld-phonenumber {
            color: $blanc;
            padding: 0px 20px 0px 0px;
            border-right: 1px solid #49516F;
        }

        .ld-location {
            color: $blanc;
            padding: 0px 0px 0px 20px;

            .ld-area {
                padding: 0px 5px 0px 0px;
            }

            .ld-number {
                display: block;
            }
        }
    }
}

.header-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    background: rgba(255, 255, 255, 0.67);
    margin-top: 60px;

    @include bp800 {
        margin-top: 50px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0px;

        @include bp800 {
            justify-content: left;
        }
    }
}



.logo {
    display: block;
    width: 100%;
    max-width: 320px;
    transition: .3s;
    margin: 0 auto;
    padding: 10px 5px;
    margin: 0 auto;

    &:hover {
        opacity: 0.8;
    }

    @include bp800 {
        max-width: 250px;
        float: left;
        margin: 0 20px 0 0;
    }
}