/*---------------------------------------------------------------
    Hero
--------------------------------------------------------------- */

.hero {
    text-align: center;
    background-size: cover;
    background-position: center;

    &__container {
        position: relative;   
        min-height: 540px;  
        padding: 120px 0px 0px 0px;

        @include bp800 {
            min-height: 630px;  
            padding: 180px 0px 0px 0px;
        }
    }

    &__content {
        position: absolute;
        text-align: center;
        width: 100%;
        padding: 0px 50px;
        color: $blanc;
        text-transform: uppercase;
        max-width: 970px;
        top: 62%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .primary {

    }
    
}
