/*---------------------------------------------------------------
    Hero
--------------------------------------------------------------- */

.hero {
    text-align: center;
    background-size: cover;
    background-position: center;

    &__container {
        position: relative;   
        min-height: 540px;  
        padding: 110px 0px 0px 0px;

        @include bp1000 {
            min-height: 660px;  
            padding: 204px 0px 0px 0px;
        }
    }

    &__content {
        position: absolute;
        text-align: center;
        width: 100%;
        padding: 0px 30px;
        color: $blanc;
        text-transform: uppercase;
        max-width: 970px;
        top: 57%;
        left: 50%;
        transform: translate(-50%,-50%);

        @include bp800 {
            padding: 0px 50px;
        }

        @include bp1000 {
            top: 63%;
        }
    }

    .primary {
        animation-delay: 0.8s;
        animation: fadeIn ease-in 1;
        animation-fill-mode: forwards;
        animation-duration: 1s;
    }
    
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
