/*---------------------------------------------------------------
    Mobile Top Bar
--------------------------------------------------------------- */

.mobile-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $mobile-top-bar-height;
    background: $blue;
    z-index: 5000;
    text-transform: uppercase;
    @include flexbox();
    @include clearfix;

    @include bp800 {
        display: none;
    } 
}

.mobile-top-btn {
    display: inline-block;
    float: left;
    padding: 20px 8px;
    text-align: center;
    text-decoration: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    font-family: pragmatica,sans-serif;
    font-weight: 700;
    font-style: normal;

    &--menu {
        width: 35%;
        color: $blanc;
        background: $red;
    }
    
    // Used when only one number is in the mobile top bar
    &--single-number {
        width: 65%;
        color: $blanc;
        display: flex;
        justify-content: center;
        align-items: center;

        // &:before {
        //     display: inline-block;
        //     margin-right: 10px;
        //     content: '\f095';
        //     font-family: "FontAwesome";
        //     background-image: "../images/icon-phone.svg";
        // }

        img {
            width: 35px;
            height: 35px;
            margin-right: 8px;
        }

        a {
            color: $blanc;
            text-decoration: none;  
            font-family: pragmatica,sans-serif;
            font-weight: 700;
            font-style: normal;     
        }
    }
}

// Used to trigger multiple numbers in the mobile top bar
.js-toggle-location-numbers {
    display: block;
    padding: 5px;
    width: 65%;
    float: left;
    text-align: center;
}

.location-numbers {
    top: $mobile-top-bar-height;
    position: absolute;
    left: 0;
    padding: 10px;
    display: none;
    width: 100%;
    background: darken($blanc,20);
    overflow-y: scroll;
    max-height: 80vh;

    &--visible {
        display: block;
    }

    a {
        white-space: nowrap;
    }

    .ld-phonenumber {
        font-size: 2rem;
        display: block;
    }
    
    .ld-location {
        padding: 5px 0;
    }
}