/*---------------------------------------------------------------
    Review Bar
--------------------------------------------------------------- */

.review-bar {
    background: $red;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    padding: 40px 0px;

    p {
        @include font-extended ($weight:700 , $size:2.9rem, $colour:$blanc, $style: italic);
        text-transform: uppercase;

        @include bp800 {
            @include font-extended ($weight:700 , $size:3.3rem, $colour:$blanc, $style: italic);
        }
    }

    i {
        margin: 20px 0px;
        color: $blanc;
        font-size: 3.2rem;
    }

    .btn {
        margin: 10px 0px 0px 0px;

        @include bp800 {
            margin: 0px;
        }
    }

    .animate {
        opacity: 0;

        &.inview {
            animation-delay: 0.8s;
            animation: fadeInStars ease-in 1;
            animation-fill-mode: forwards;
            animation-duration: 1s;

            &.star-one {
                animation-delay: 0.2s;
            }
        
            &.star-two {
                animation-delay: 0.4s;
            }
        
            &.star-three {
                animation-delay: 0.6s;
            }
        
            &.star-four {
                animation-delay: 0.8s;
            }
        
            &.star-five {
                animation-delay: 1.0s;
            }
        }
    }
}

@keyframes fadeInStars { from { opacity:0; } to { opacity:1; } }